# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries for Data Science
- List Data Science Tools
- How to evaluate arithmetic expression in Python

#### Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Julia
5. Scala

### Some of the commonly used libraries used by Data Scientists include:
1. Scikit-learn
2. Matplotlib
3. NumPy
4. Pandas
5. PyTorch
6. SciPy
7. TensorFlow

| Data Science Tools |
|---|
| Jupyter Notebook|
|Anaconda|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60
minute = 200
hours = minute/60
print(hours)

3.3333333333333335

## Author
Harvey Ompad